<h1>Rewards Service Channels</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Theme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.theme %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_channel_path, :class=>"btn btn-primary btn-lg active" %>
