<p id="notice"><%= notice %></p>

<h1>Rewards Service Rewards</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.description %></td>
        <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward', new_reward_path, :class=>"btn btn-primary btn-lg active" %>
